@model WebApp.Models.MemberDataModel

<div class="mainContainer">
    <div class="leftDiv"></div>
    <div class="midDiv">
        <div id="divCanvasViewPartial" class="center">
            @Html.Partial("CanvasViewPartial",Model.Photos.First())
        </div>
    </div>
    <div class="rightDiv">
        @if (Model.Photos != null &&
      Model.Photos.Count > 0)
        {
        <div id="divGridViewPartial" style="width: 100%; height: 100%; overflow: scroll">
            @Html.Partial("GridViewPartial", Model.Photos)
        </div>
        }
            </div>
        </div>
