@model WebApp.Models.MemberDataModel

<div class="mainContainer">
    <div class="leftDiv"></div>
    <div class="midDiv">
        <canvas id="testCanvas" width=640 height=480></canvas>
    </div>
    <div class="rightDiv">
        <!-- actual upload which is hidden -->
        <!--<input style="display:none;" type="file" id="actual-btn" />-->
        <!-- our custom upload button -->
        <!--<label class="lblFileUpload" for="actual-btn">Choose File</label>-->
        <!-- name of file chosen -->
        <!--<span id="file-chosen">No file chosen</span>-->
    </div>
</div>
