@model WebApp.DTOs.UserProjectsWithPhotosDto

@{ 
    int noOfImages = Model.Photos.Count();
}
<style>
    .btni {
        background-color:dodgerblue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }
        .btni:hover {
            background-color: RoyalBlue;
        }
</style>
<div class="mainContainer">
    <div class="leftDiv">
        @if (noOfImages > 0)
        {
           
            <img id="btnRect" src="~/UploadedFiles/VioRect.png" class="btn" data-placement="right" title="Draw Bounding box on image"
                 style="margin-left:10px;margin-top:20px;cursor:pointer;" width="70" height="70" onclick="InitializeRectangleAnnotation(); return false;" />
            <hr />
            <img id="btnCircle" src="~/UploadedFiles/VioCircle.png" class="btn" data-placement="right" title="Draw Circle on image"
                 style="margin-left:10px;cursor:pointer;display:none;" width="70" height="70" />

            @*<hr />*@
            <img id="btnPolygon" src="~/UploadedFiles/VioPolygon.png" class="btn" data-placement="right" title="Draw Polygon on image"
                 style="margin-left:10px;cursor:pointer;" width="70" height="70" onclick="InitializePolygonAnnotation(); return false;" />
            <hr />
        }
    </div>
    <div class="midDiv">
        <div id="divBtns">
            @if (noOfImages > 0)
            {
            <div style="margin-top: 5px; float: left; border: 2px solid darkorchid;">
                @*<input id="btnSave" class="btn btn-success disabled" style="cursor: pointer;" onclick="saveBoundingBox(); return false;" type="button" value="Save" />
        <input id="btnDelete" class="btn btn-danger disabled" style="cursor: pointer;" onclick="removeBoundingBox(); return false;" type="button" value="Delete" />*@
                <button id="btnSave" class="btni btn-success disabled" disabled onclick="saveAnnotations(); return false;"><i class="fa fa-save"></i></button>
                <button id="btnDelete" class="btni btn-danger disabled" disabled onclick="removeAnnotations(); return false;"><i class="fa fa-trash"></i></button>
                <button id="btnRefresh" class="btni btn-info disabled" disabled onclick="refreshAnnotations(); return false;"><i class="fa fa-refresh"></i></button>
                <button id="btnDownload" class="btni btn-info disabled" disabled onclick="download(); return false;"><i class="fas fa-download"></i></button>
                <a id="lnkDownloadImage" hidden class="btni btn-info" download="myImage.jpg" href="" onclick="download_img(this);"><i class='fas fa-download'></i></a>
                @*<i title="Save" class="fa fa-save" onclick="saveBoundingBox(); return false;" style="font-size:36px;color:cornflowerblue;cursor:pointer;"></i>
        <i title="Remove" class="fa fa-remove" onclick="removeBoundingBox(); return false;" style="font-size:36px;color:red;cursor:pointer;"></i>*@
            </div>
                @*<div id="divBtn" style="margin-top:5px;float:right">
                    <input id="btnPrevious" class="btn btn-success" type="button" value="Previous" />
                    <input id="btnNext" class="btn btn-danger" type="button" value="Next" />
                </div>*@
            }
        </div>
      
        <div id="divCanvasViewPartial" class="center" style="margin-top:50px;">

            <div id="divNoImage">
                <img src="~/UploadedFiles/no-image.jpg" style="width: 640px; height: 480px; background-repeat: inherit; display: block;"/>
            </div>
            @*@if (noOfImages > 0)
        {
            @Html.Partial("CanvasViewPartial", Model.Photos.First())
        }*@
        </div>

    </div>
    <div class="rightDiv">
        @*@if (Model.Photos != null && noOfImages > 0)
        {*@
        <div id="divGridViewPartial" style="width: 100%; height: 100%;">
            @Html.Partial("GridViewPartial", Model.Photos)
        </div>
        @*}*@
            </div>
        </div>
