@model WebApp.Models.FileUploadModel
@using WebApp.Controllers

<div class="row">
    <div class="col-md-6 col-md-push-2">
        <div class="form-horizontal">
          <div class="form-group">
          <table>
              <tr>
                  <td> @Html.TextBoxFor(m => m.FileAttach, new { type = "file", accept = "image/x-png,image/jpg,image/jpeg", 
                      placeholder = Html.DisplayNameFor(m => m.FileAttach), @id = "formFile", @class = "form-control" })</td>
                  <td><input type="submit" value="Upload" onclick="uploadFile()" class="btn btn-danger" /></td>
              </tr>
          </table>
                
            </div>
        </div>
    </div>
</div>