@model WebApp.Models.FileUploadModel
@using WebApp.Controllers

@*@using (Html.BeginForm("UploadFile", "Dashboard", FormMethod.Post, new { id = DashboardController.DashboardForm, encType = "multipart/form-data" }))
{*@

    <div class="row">
        <div class="">
            <div class="form-horizontal">
                <div class="form-group">
                    <table>
                        <tr>
                            <td>
                                @Html.TextBoxFor(m => m.FileAttach, new
                           {
                               type = "file",
                               @webkitdirectory = "directory",
                               accept = "image/x-png,image/jpg,image/jpeg",
                               @multiple = "multiple",
                               placeholder = Html.DisplayNameFor(m => m.FileAttach),
                               @id = "formFile",
                               @class = "form-control"
                           })
                            </td>
                            <td><input type="submit" value="Upload" onclick="return uploadFile(); return false;" class="btn btn-danger" /></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
@*}*@