
@{
    ViewBag.Title = "Dashboard";
}
<style>
    .mainContainer{
        width:100%;
        height:550px;
        border:2px solid black;
    }

    .leftDiv {
        border: 2px solid green;
        float:left; 
        width:20%;
        height:100%;
    }

    .midDiv {
        border: 2px solid blue;
        float: left;
        width: 50%;
        height: 100%;
    }

    .rightDiv {
        border: 2px solid red;
        float: left;
        width: 30%;
        height: 100%;
    }
</style>
<h2>Dashboard</h2>

<script>

</script>

<div class="mainContainer">
    <div class="leftDiv"></div>
    <div class="midDiv"></div>
    <div class="rightDiv"></div>
</div>