
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @*@Html.AntiForgeryToken()*@

        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @*<li><label style="color:white;margin-top:15px;">Welcome @ViewBag.Username</label></li>*@
            <li><label class="nav navbar-nav navbar-link" style="margin-top:15px;">Welcome @HttpContext.Current.User.Identity.Name</label></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
